{% extends 'events/base.html' %}

{% block content %}
    {%if user.is_authenticated %}
        <center>
        <h1>Add Venue to the Database</h1>
        <br><br>
        {% if submitted %}
            Venue Submitted Successfully!!
        {% else %}
            <form action='' method='POST' enctype='multipart/form-data' >
                {% csrf_token %}
                {{form.as_p}}
                <input type='submit' value='Submit' class='btn btn-secondary'>
            </form>
        {% endif %}
        </center>
    {%else%}
        <center>
            <h1>You Must be signed in to view this page!!</h1><br><br>
            <h6><a class="nav-link" href="{% url 'login' %}">Login Here</a></h6>
        </center>
    {%endif%}
{% endblock %}