{% extends 'events/base.html' %}

{% block content %}
{% if user.is_authenticated %}    
    <h1>Update Venue</h1>
    <br><br>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <center>
        <input type="submit" value="Update" class="btn btn-secondary">
        </center>
    </form>
{%else%}
<center>
    <h1>You Must be signed in to view this page!!</h1><br><br>
    <h6><a class="nav-link" href="{% url 'login' %}">Login Here</a></h6>
</center>
{%endif%}
{% endblock %}